/* Base */
html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 100;
}

input,
button {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

input:focus,
button:focus {
  outline: 0;
}

/* Container */
.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.container__header {
	flex: 0 0 auto;
	padding: 20px;
}

.container__body {
	flex: 1 1 auto;
	padding: 20px;
}

.container__footer {
	flex: 0 0 auto;
	padding: 20px;
}

/* Controls */
.controls {
	display: flex;
	align-items: center;
  justify-content: center;
	width: 100%;
}

.controls__button {
	flex: 1 1 auto;
	height: 38px;
	border: none;
}

.controls__button--start {
	background: #19b00b;
	color: #fff;
}

.controls__button--stop {
	background: #d5372d;
	color: #fff;
}

/* Settings */
.settings {
	display: flex;
	align-items: center;
  justify-content: center;
	width: 100%;
}

.settings__label {
	flex: 1 1 auto;
	font-size: 24px;
	margin: 0;
	padding: 0;
}

.settings__input {
	flex: 1 1 auto;
	font-size: 24px;
	margin: 0;
	padding: 0;
}

/* Info */
.info {
	display: flex;
	align-items: center;
  justify-content: center;
	width: 100%;
	margin-top: 10px;
}

.info__ip {
	flex: 1 1 auto;
	font-size: 24px;
	margin: 0;
	padding: 0;
}

.info__port {
	flex: 1 1 auto;
	font-size: 24px;
	margin: 0;
	padding: 0;
}

/* Error */
.error {
	color: #d5372d;
	margin-top: 20px;
}
